<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--  -->

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!--  -->

    <!-- chess.js and chessboard.js -->
    <link rel="stylesheet" href="{{ url_for('static', filename='chessboard-1.0.0.css') }}">
    <script src="{{ url_for('static', filename='chessboard-1.0.0.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <!--  -->
    
    <!-- socket.io -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <!--  -->

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <div class="container text-center" style="max-width: 50%; margin: auto; padding-top: 50px">
        <div id="myBoard" style="width: 400px; margin: auto"></div>
        <br>
        <div class="row justify-content-around">
            <button class="btn btn-primary col-2" id="vetoBtn" style="padding: 10px;">Veto</button>
            
            <button class="btn btn-success col-2" id="newGameBtn" style="padding: 10px;">New Game</button>
        </div>

        <br>
        <table>
            <tr>
                <th><label>Role:</label></th>
                <td><div id="role"></div></td>
            </tr>
            <tr>
                <th><label>Status:</label></th>
                <td><div id="status"></div></td>
            </tr>
            <tr>
                <th><label>FEN:</label></th>
                <td><div id="fen"></div></td>
            </tr>
            <tr>
                <th><label>PGN:</label></th>
                <td><div id="pgn"></div></td>
            </tr>
        </table>
    </div>

    
    <script src="{{ url_for('static', filename='play.js') }}"></script>
</body>
</html>